[Unit]
Description=efi partition mounting

[Mount]
What=UUID=%EFI_PART_UUID%
Where=/efi
Options=uid=0,gid=0,fmask=0077,dmask=0077

[Install]
WantedBy=multi-user.target
